[Unit]
Description=Do something on tap0 up

After=sys-subsystem-net-devices-tap0.device
Wants=sys-subsystem-net-devices-tap0.device
BindsTo=sys-subsystem-net-devices-tap0.device

[Service]
Type=oneshot
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
